@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	button {
		cursor: pointer;
	}
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
	width: 8px; /* Adjust width */
}

::-webkit-scrollbar-thumb {
	@apply bg-amber-500 rounded-xl;
}

::-webkit-scrollbar-track {
	@apply bg-white;
}

.thin-scroll::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Make the datepicker popover match your theme */
.react-datepicker {
	font-family: inherit;
	border-radius: 1rem;
	border: 1px solid #e5e7eb;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
	background-color: white;
	border-bottom: 1px solid #f3f4f6;
	border-top-left-radius: 1rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
	background-color: #d97706 !important; /* Your amber-600 color */
	border-radius: 0.375rem;
}

.react-datepicker__day--disabled {
	color: #d1d5db !important;
	text-decoration: line-through;
}

/* globals.css or Hero.module.css */
@keyframes crossfade {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 1; /* fully visible */
	}
	33% {
		opacity: 1; /* stays visible */
	}
	50% {
		opacity: 0; /* fades out */
	}
	100% {
		opacity: 0; /* remains invisible until loop restarts */
	}
}

.animate-crossfade {
	animation: crossfade 32s infinite ease-in-out;
}
